        <div class="footer-top-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-about-us">
                            <h2>u<span>Stora</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                            <div class="footer-social">
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="footer-menu">
                            <h2 class="footer-wid-title">User Navigation </h2>
                            <ul>
                                <li><a href="#">My account</a></li>
                                <li><a href="#">Order history</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Vendor contact</a></li>
                                <li><a href="#">Front page</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="footer-menu">
                            <h2 class="footer-wid-title">Categories</h2>
                            <ul>
                                <li><a href="#">Mobile Phone</a></li>
                                <li><a href="#">Home accesseries</a></li>
                                <li><a href="#">LED TV</a></li>
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">Gadets</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="footer-newsletter">
                            <h2 class="footer-wid-title">Newsletter</h2>
                            <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                            <div class="newsletter-form">
                                <form action="#">
                                    <input type="email" placeholder="Type your email">
                                    <input type="submit" value="Subscribe">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End footer top area -->

        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright">
                            <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="footer-card-icon">
                            <i class="fa fa-cc-discover"></i>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-cc-paypal"></i>
                            <i class="fa fa-cc-visa"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End footer bottom area -->

        <!-- Latest jQuery form server -->
        <script src="https://code.jquery.com/jquery.min.js"></script>

        <!-- Bootstrap JS form CDN -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <!-- jQuery sticky menu -->
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>

        <!-- jQuery easing -->
        <script src="/js/jquery.easing.1.3.min.js"></script>

        <!-- Main Script -->
        <script src="/js/main.js"></script>

        <!-- Slider -->
        <script type="text/javascript" src="/js/bxslider.min.js"></script>
        <script type="text/javascript" src="/js/script.slider.js"></script>
        <script>
            var mynameis = "joohyun"

            function getQueryParam(name) {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(name);
            }

            window.onload = function() {
                const cartStatus = getQueryParam('cartStatus');
                if (cartStatus === 'added') {
                    alert('장바구니에 추가되었습니다!');

                    const addedPid = getQueryParam('addedPid');
                    const addedQuantity = getQueryParam('addedQuantity');
                    const addedPrice = getQueryParam('addedPrice');
                    const addedItemName = getQueryParam('addedItemName');
                    const addedBrand = getQueryParam('addedBrand');
                    const addedCategory1 = getQueryParam('addedCategory1');
                    const addedCategory2 = getQueryParam('addedCategory2');

                    if (addedPid && addedQuantity && addedPrice && addedItemName) {
                        const itemQuantity = parseInt(addedQuantity);
                        const itemPrice = parseInt(addedPrice);

                        dataLayer.push({ ecommerce: null });
                        dataLayer.push({
                            event: 'add_to_cart',
                            ecommerce: {
                                currency: 'KRW',
                                value: itemPrice * itemQuantity,
                                items: [{
                                    item_id: addedPid,
                                    item_name: decodeURIComponent(addedItemName),
                                    price: itemPrice,
                                    quantity: itemQuantity,
                                    item_brand: addedBrand ? decodeURIComponent(addedBrand) : undefined,
                                    item_category: addedCategory1 ? decodeURIComponent(addedCategory1) : undefined,
                                    item_category2: addedCategory2 ? decodeURIComponent(addedCategory2) : undefined
                                }]
                            }
                        });
                    }

                    history.replaceState({}, document.title, window.location.pathname);

                } else if (cartStatus === 'failed') {
                    alert('장바구니 추가에 실패했습니다');
                    history.replaceState({}, document.title, window.location.pathname);
                }


                const loggedin = getQueryParam('loggedin');
                console.log(loggedin);
                if (loggedin === 'False') {
                    alert('로그인 해주세요!');
                    window.location.href = 'http://www.ustora.kro.kr/loginPage';
                }

                const signupStatus = getQueryParam('signupStatus');
                console.log(signupStatus);
                if (signupStatus === 'fail') {
                    alert('다시 회원가입 해주세요!');
                    window.location.href = 'http://www.ustora.kro.kr/signupPage';
                }

                const loginSuccess = getQueryParam('loginSuccess');
                if (loginSuccess === 'True'){
                    dataLayer.push({
                        event: 'login',
                        method: 'email_password',
                    });
                }

            };
        </script>
    </body>
</html>