{{>fragments/header}}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Check Out</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {{>fragments/sidebar}}
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <div class="panel-group" id="addressAccordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="addressHeading">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#addressAccordion" href="#addressCollapse" aria-expanded="true" aria-controls="addressCollapse">
                                            Shipping Address Management
                                        </a>
                                    </h4>
                                </div>
                                <div id="addressCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="addressHeading">
                                    <div class="panel-body">
                                        <div class="shipping-address-section">
                                            <h3>Shipping Address</h3>
                                            {{#user.addresses}}
                                            <div class="address-item" style="border: 1px solid #ddd; padding: 15px; margin-bottom: 15px; {{#isDefault}}background-color: #f8f9fa; border-left: 4px solid #007bff;{{/isDefault}}">
                                                <div class="address-header" style="margin-bottom: 10px;">
                                                    <h4 style="margin: 0;">
                                                        {{shippingFirstName}} {{shippingLastName}}
                                                        {{#isDefault}}
                                                        <span style="background-color: #007bff; color: white; padding: 2px 8px; border-radius: 3px; font-size: 12px; margin-left: 10px;">Default Address</span>
                                                        {{/isDefault}}
                                                    </h4>
                                                </div>
                                                <div class="address-details">
                                                    <p style="margin: 5px 0;">{{shippingCompany}}</p>
                                                    <p style="margin: 5px 0;">{{shippingAddress1}}</p>
                                                    <p style="margin: 5px 0;">{{shippingAddress2}}</p>
                                                    <p style="margin: 5px 0;">{{shippingCity}}, {{shippingState}} {{shippingPostcode}}</p>
                                                    <p style="margin: 5px 0;">{{shippingCountry}}</p>
                                                </div>
                                                <div class="address-actions" style="margin-top: 10px;">
                                                    <form method="post" action="/address/set-default/{{addrDTOId}}?redirectUrl=/checkout" style="display: inline-block;">
                                                        <button type="submit" class="button" {{#isDefault}}disabled{{/isDefault}}>
                                                            {{#isDefault}}Set as Default{{/isDefault}}{{^isDefault}}Set as Default{{/isDefault}}
                                                        </button>
                                                    </form>
                                                    <form method="post" action="/address/delete/{{addrDTOId}}?redirectUrl=/checkout" style="display: inline-block;">
                                                        <button type="submit" class="button" onclick="return confirm('Are you sure you want to delete this address?')">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                            {{/user.addresses}}
                                            
                                            <div class="add-new-address" style="margin-top: 20px;">
                                                <h4>Add New Address</h4>
                                                <form method="post" action="/address/add?redirectUrl=/checkout">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="shippingFirstName">First Name <span class="required">*</span></label>
                                                            <input type="text" id="shippingFirstName" name="shippingFirstName" class="form-control" required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="shippingLastName">Last Name <span class="required">*</span></label>
                                                            <input type="text" id="shippingLastName" name="shippingLastName" class="form-control" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="shippingCompany">Company Name</label>
                                                        <input type="text" id="shippingCompany" name="shippingCompany" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="shippingAddress1">Address <span class="required">*</span></label>
                                                        <input type="text" id="shippingAddress1" name="shippingAddress1" class="form-control" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="shippingAddress2">Address Line 2</label>
                                                        <input type="text" id="shippingAddress2" name="shippingAddress2" class="form-control">
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="shippingCity">City <span class="required">*</span></label>
                                                            <input type="text" id="shippingCity" name="shippingCity" class="form-control" required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="shippingState">State/Province <span class="required">*</span></label>
                                                            <input type="text" id="shippingState" name="shippingState" class="form-control" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="shippingPostcode">Postcode <span class="required">*</span></label>
                                                            <input type="text" id="shippingPostcode" name="shippingPostcode" class="form-control" required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="shippingCountry">Country <span class="required">*</span></label>
                                                            <select name="shippingCountry" id="shippingCountry" class="form-control" required>
                                                                {{>fragments/selectCountry}}
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" name="isDefault">
                                                            Set as default address
                                                        </label>
                                                    </div>

                                                    <button type="submit" class="button">Add New Address</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{^userEmail}}
                        <div class="woocommerce-info">Returning customer? <a class="showlogin" data-toggle="collapse" href="#login-form-wrap" aria-expanded="false" aria-controls="login-form-wrap">Click here to login</a>
                        </div>
                        {{/userEmail}}

                        <form id="login-form-wrap" class="login collapse" method="post" action="/login">

                            <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing &amp; Shipping section.</p>

                            <p class="form-row form-row-first">
                                <label for="email">Email address<span class="required">*</span>
                                </label>
                                <input type="text" id="email" name="email" class="input-text">
                            </p>
                            <p class="form-row form-row-last">
                                <label for="password">Password <span class="required">*</span>
                                </label>
                                <input type="password" id="password" name="password" class="input-text">
                            </p>
                            <div class="clear"></div>


                            <p class="form-row">
                                <input type="submit" value="Login" name="login" class="button">
                                <label class="inline" for="rememberme"><input type="checkbox" value="forever" id="rememberme" name="rememberme"> Remember me </label>
                            </p>
                            <p class="lost_password">
                                <a href="#">Lost your password?</a>
                            </p>

                            <div class="clear"></div>
                        </form>

                        <div class="woocommerce-info">Have a coupon? <a class="showcoupon" data-toggle="collapse" href="#coupon-collapse-wrap" aria-expanded="false" aria-controls="coupon-collapse-wrap">Click here to enter your code</a>
                        </div>

                        <form id="coupon-collapse-wrap" method="post" class="checkout_coupon collapse">

                            <p class="form-row form-row-first">
                                <input type="text" value="" id="coupon_code" placeholder="Coupon code" class="input-text" name="coupon_code">
                            </p>

                            <p class="form-row form-row-last">
                                <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
                            </p>

                            <div class="clear"></div>
                        </form>

                        <form enctype="multipart/form-data" action="/checkout" class="checkout" method="post" name="checkout">

                            <div id="customer_details" class="col2-set">

                            </div>

                            <h3 id="order_review_heading">Your order</h3>

                            <div id="order_review" style="position: relative;">
                                <table class="shop_table">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#cartList}}
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                {{product.pname}} <strong class="product-quantity">× {{quantity}}</strong> </td>
                                            <td class="product-total">
                                                <span class="amount">{{currencySymbol}}{{totalPrice}}</span> </td>
                                        </tr>
                                    {{/cartList}}
                                    </tbody>
                                    <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal</th>
                                        <td><span class="amount">{{currencySymbol}}{{cartSubtotal}}</span>
                                        </td>
                                    </tr>

                                    <tr class="shipping">
                                        <th>Shipping and Handling</th>
                                        <td>

                                            Free Shipping
                                            <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                        </td>
                                    </tr>


                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td><strong><span class="amount">{{currencySymbol}}{{cartSubtotal}}</span></strong> </td>
                                    </tr>

                                    </tfoot>
                                </table>


                                <div id="payment">
                                    <ul class="payment_methods methods">
                                        <li class="payment_method_bacs">
                                            <input type="radio" data-order_button_text="" checked="checked" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
                                            <label for="payment_method_bacs">Direct Bank Transfer </label>
                                            <div class="payment_box payment_method_bacs">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won't be shipped until the funds have cleared in our account.</p>
                                            </div>
                                        </li>
                                        <li class="payment_method_cheque">
                                            <input type="radio" data-order_button_text="" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">
                                            <label for="payment_method_cheque">Cheque Payment </label>
                                            <div style="display:none;" class="payment_box payment_method_cheque">
                                                <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </li>
                                        <li class="payment_method_paypal">
                                            <input type="radio" data-order_button_text="Proceed to PayPal" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal">
                                            <label for="payment_method_paypal">PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"><a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?</a>
                                            </label>
                                            <div style="display:none;" class="payment_box payment_method_paypal">
                                                <p>Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="form-row place-order">

                                        <input type="submit" data-value="Place order" value="Place order" id="place_order" name="woocommerce_checkout_place_order" class="button alt">


                                    </div>

                                    <div class="clear"></div>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {{#delDefault}}
        alert("{{delDefault}}");
    {{/delDefault}}

    {{#noDefaultAddress}}
        alert("{{noDefaultAddress}}");
    {{/noDefaultAddress}}
</script>

{{>fragments/footer}}