{{>fragments/header}}
<div style="padding: 5%">
    <form class="container" action="/login" method="post">
        <h2>Login Page</h2>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div style="padding-top: 20px; display: flex; align-items: baseline">
            <button type="submit" class="btn btn-dark">Login</button>
            <p style="padding-left: 5px"><a href="/signupPage">Signup?</a></p>
        </div>
    </form>
</div>
{{>fragments/footer}}

