{{>fragments/header}}

<div style="text-align: center; padding: 10%" >
    <h1>Confirm your order?</h1>
    <form method="post" action="/payment">
    <input type="submit" value="PLACE ORDER">
    </form>
</div>

{{>fragments/footer}}