{{>fragments/header}}

<div style="text-align: center; padding: 10% " >
    <h1>Thank You!!</h1>
    <h3>Your order will be delivered soon.</h3>

    <a href="/" style="padding-top: 5%">Home</a>
</div>
<script>
    dataLayer.push({ecommerce: null});
    dataLayer.push({
        event: 'purchase',
        ecommerce: {
            transaction_id: "{{order.id}}",
            value: {{cartSubtotal}},
            currency: "{{currency}}",
            items: [
                {{#cartList}}
                    {
                        item_id: "{{product.pid}}",
                        item_name: "{{product.pname}}",
                        item_brand: "{{product.brand}}",
                        item_category: "{{product.category1}}",
                        item_category2: "{{product.category2}}",
                        price: {{product.price}},
                        quantity: {{quantity}}
                    },
                {{/cartList}}
            ]
        }
    });
</script>

{{>fragments/footer}}